<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
 



      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'CloseValue','Papa' ],
          ['1',  98.83 , 59  ],
          ['2',  98.83 , 65 ],
          ['3',  97.2  , 80],
          ['4',  99.5  , 90 ]
        ]);

        var options = {
          title: 'Closing Values For The Past 30 Days',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
