
#curve_chart {
	width:100%;
	height:400px;
}
.tags {
	float:left;
	height:150px;
	padding-top:50px;
	padding-bottom:50px;
}
.tag {
	
	text-align: center;
	margin:10px;
	width: 80px
}

.list-group{
	padding-top : 70px;
}
.demoPar {
	padding-top :70px;
}